$greyColor: rgb(100, 100, 100);

html {
    font-family: robotoReg;
    color: $greyColor;
}

.wrapper {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.imgBox {
    width: 500px;
    height: 500px;
}

.text {
    font-size: 50px;
}

